@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('../src/assets/styles/colours/colours.css');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Inter', sans-serif;
}

:root{
    ::-webkit-scrollbar{
        width: 3px !important;
        height: 3px
    };
    
    ::-webkit-scrollbar-thumb{
        background-color: var(--mainRed);
    };
    
    ::-webkit-scrollbar-track {
    background-color: var(--gray);
    }

    ::selection{
        background-color: var(--mainRed);
        color: var(--white);
    }
}

/* .dark{
    background-color: #000;
} */
